.image-card {
  border-radius: 5px;
  background-color: #EBEBEB;
  cursor: pointer;
  border: 1px solid #000;
}

.container {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

